<h1>Cadastrar Consultor</h1>
<form action="/consultores/create" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input type="text" name="cpf" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
