<% include('../layout') %>
<h2>Detalhes do Consultor</h2>
<p>Nome: <%= consultor.nome %></p>
<p>Idade: <%= consultor.idade %></p>
<p>Email: <%= consultor.email %></p>
<a href="/consultores">Voltar</a>
